In [1]:
import numpy as np
import pandas as pd

np.random.seed(42)

In [2]:
df_products = pd.read_csv(
    "C:/Users/User/Desktop/dashboard/PROJECTS_NOT_ON_GITHUB/Retail/data/processed/dim_product.csv"
)
df_products.head()

,product_id,product_name,category,brand,price,rating,discountPercentage
0,1,Essence Mascara Lash Princess,beauty,Essence,9.99,2.56,10.48
1,2,Eyeshadow Palette with Mirror,beauty,Glamour Beauty,19.99,2.86,18.19
2,3,Powder Canister,beauty,Velvet Touch,14.99,4.64,9.84
3,4,Red Lipstick,beauty,Chic Cosmetics,12.99,4.36,12.16
4,5,Red Nail Polish,beauty,Nail Couture,8.99,4.32,11.44

In [3]:
dates = pd.date_range(
    start="2023-01-01",
    end="2024-12-31",
    freq="D"
)

In [4]:
sales_rows = []

for _, product in df_products.iterrows():
    
    base_demand = np.random.randint(1, 6)
    
    for date in dates:
        
        # Seasonality
        if date.month in [10, 11, 12]:   # festive season
            seasonal_factor = 1.3
        elif date.month in [6, 7]:       # slow season
            seasonal_factor = 0.8
        else:
            seasonal_factor = 1.0
        
        qty = int(
            max(
                0,
                np.random.normal(base_demand * seasonal_factor, 2)
            )
        )
        
        sales_rows.append({
            "date": date,
            "product_id": product["product_id"],
            "category": product["category"],
            "quantity_sold": qty,
            "revenue": qty * product["price"]
        })

In [5]:
df_sales_daily = pd.DataFrame(sales_rows)

df_sales_daily.head()

        date  product_id category  quantity_sold  revenue
0 2023-01-01           1   beauty              1     9.99
1 2023-01-02           1   beauty              4    39.96
2 2023-01-03           1   beauty              4    39.96
3 2023-01-04           1   beauty              6    59.94
4 2023-01-05           1   beauty              2    19.98

In [6]:
print(df_sales_daily.shape)
df_sales_daily["quantity_sold"].describe()

(21930, 5)

count    21930.000000
mean         3.087962
std          2.246509
min          0.000000
25%          1.000000
50%          3.000000
75%          5.000000
max         13.000000
Name: quantity_sold, dtype: float64

In [7]:
df_sales_daily.to_csv(
    "C:/Users/User/Desktop/dashboard/PROJECTS_NOT_ON_GITHUB/Retail/data/processed/fact_sales_daily.csv",
    index=False
)